*{margin:auto;
  padding:0;
box-sizing: border-box;}

body{background-color:black;
  font-family: 'Roboto', sans-serif;
  }

  .wrapper {width:calc(100% - 100px);
    position:absolute;
    right:0;
  overflow: hidden;}
header{width:100%;
  height:120px;
  line-height: 120px;
background-color: blue;
text-align: center;}

.logo{
  height:80px;
width:80px;
opacity:0.6;}

main{height:400px;
width:70%;
background-color:yellow;
text-align: center;
overflow:hidden;}

}
ul{height:30px;
width:100%;}

ul li  {font-size: 20px;

  display:inline;}

.content {

  height:70%;
  width:100%;}
  .content::after{content:"";
  display:table;
clear:both;}

.box {
  position:relative;
  margin:5px;
  height:320px;}


.box>p {font-size: 30px;
  color: darkorange;
  text-shadow:2px 2px #fff;
  position:absolute;
  left:50%;
top:50%;
transform: translate(-50%,-50%);
}

.velina{width:100%;
  height:100%;
  background-color: black;
  opacity:100%;
  }

.velina:hover{opacity:50%;

}



.etichetta {
position:absolute;
padding:10px;
background-color: orange;
top:0%;
right:0%;
transition-duration: 1s;

}

.box .etichetta:hover{

  background-color:purple;
}

.descrizione, .box {
  width: calc(33% - 10px);
  float:left;
}

.descrizione{
  position:relative;
  margin:5px;
  display:inline-block;
height:auto;
font-style: italic;
color: green;
}

.descrizione h3 {
text-align:left;
padding-left: 4px;
}

#sidebar{position:fixed;
  text-align: center;
  padding:5px;
  left:0px;
  top:0px;
  display:block;
background-color: red;
width:100px;
height:720px;
overflow:hidden;
}

#sidebar li {
  color:pink;
  font-size: 15px;
  line-height: 50px;
}

footer{
height:200px;
width:100%;
background-color: green;
}

.warning{
  background-color:red;

}
.alert{

  background-color:yellow;
}

img{
  width:100%;
  height:100%;
}
