/* reset */
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
/* regole generali */
body{ font-family: Arial sans-serif;
  font-size:16px;
}
/* h1,h2,h3,h4,h5,p{color:#000;
padding-bottom:30px;
} */
.big-text{font-size:70px;}
.med-text{font-size:40px;}
.normal-text{font-size:20px;}
.small-text{font-size:14px;}

ul{list-style: none;
margin-bottom:0;}

a{text-decoration:none;
  color:#fff;}

/* .w100,.col-12{
  width:100%;}

  .container{
    width:1200px;
    margin:0 auto;} */

.clearfix::after{
  clear:both;
  display:table;
  content:"";
}
.fl{float:left;}
.fr{float:right;}
.col-2{width:16.666%;}
.col-3{width:25%;}
.col-4{width:33.333%;}
.col-5{width:41.666%;}
.col-6{width:50%;}
.col-7{width:58.333%;}
.col-8{width:66.666%;}
.col-9{width:75%;}
.col-10{width:83.333%;}
[class*="col-"]{;}

.my-button {
  color: #000;
  height: 40px;
  line-height: 40px;
  max-width: 200px;
  padding: 0 20px;
  border-radius: 5px;
  border:1px solid black;
  display: inline-block;
  text-align: center;
}

.flex{
  display:flex;
}
/* codice */

nav {
  width:100%;
  background-color: red;
  height:80px;
  justify-content: space-between;
  align-items:center;
}
.logo img{
  width:25px;
  height:25px;
}
.my-jumbotron{
  background-image: url('img/jumbotron_poster.png');
  background-position: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.active{
  color:red;
}

main {
  width:100%;
}
#shaving{
  position:relative;
  top:-20px;
}
#shaving .container{
  background-color:red;
}

.icons li {
  display:inline-block;
  position:relative;
}
.row.top{
  background-color:red;
}
.row.bottom{
  background-color: green;
}

.row.bottom ul li {
display:inline-block;
}
.row.bottom ul {
  width:100%;
}

.dropdown{
  position:absolute;
  top:-20px;
}

.dot_active{
  border:1px solid red;
}
