<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/png" href="img/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Yeseva+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="root">
<header>
  <div class="container">
  <nav class="flex">
<div class="logo">
<img :src="logo.url" alt="">
</div>
<div class="nav-right">
<i class="fas fa-shopping-cart">
</i>
<a href="#" @click="toggleMenu"><i :class="isBurgerActive ? 'fas fa-times' : 'fas fa-bars'" ></i></a>
</div>
  </nav>
  <div style="position:relative;height:450px;width:100%;" class="my-jumbotron">
    <h1>ball</h1>
    <p>bull</p>
 <a href="" class="button">ehfhforkfrfr</a>
    <div style="position:absolute;width:100%;height:100%;opacity:0.98;top:0;background-size:cover;display:flex;justify-content:center;align-items:center;backdrop-filter:opacity(98%)" v-if="isBurgerActive" class="hamburger-menu" :style="{ 'background-image' : 'url(\'img/' + burger_imgs[indexImg].src + '.jpg\')' }">
   <!-- <img style="width:100%;height:100%; " :src="'img/'+burger_imgs[indexImg].src+'.jpg'" alt=""> -->
 <ul>
    <li  @mouseenter="Slider(ind)"  v-for="(li,ind) in burger_list" :class="indexImg == ind ? 'active' : ''">{{burger_list[ind].name}}</li>
  </ul>
<!--
  </div> -->
        </div>
    </div>
      </div>
    </header>

<main>

<section class="first">
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
<h4>were</h4>
<h1>wewe</h1>
<a href="" class="my-button">rfrfrf</a>

    </div>
  </div>
</div>
</section>
<section class="secind">
  <div class="container">
<div class="row">
<div class="col-12 text-center">
  <h4>gggtgtgt</h4>
  <h2>rffrfr</h2>
  </div>
</div>
<div class="row">
<div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
  <img src="https://sites.google.com/a/netcmmi.com/share/_/rsrc/1473734124982/img/png/s/star-e01.png" alt="">
  <h4>vccvvcvc</h4>
  <h2>frfrfrfrrf</h2>
</div>
<div style="border:1px solid red;height:500px;" class="col-md-4 d-flex flex-column align-items-center justify-content-center">
  <img src="https://sites.google.com/a/netcmmi.com/share/_/rsrc/1473734124982/img/png/s/star-e01.png" alt="">
  <h4>ioioio</h4>
  <h2>òpòpòp</h2>
</div>

<div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
  <img src="https://sites.google.com/a/netcmmi.com/share/_/rsrc/1473734124982/img/png/s/star-e01.png" alt="">
  <h4>Mejujuug</h4>
  <h2>Sjujuu</h2>
</div>
</div>
<div class="row">
<div class="col-12 d-flex flex-column align-items-center justify-content-center">
<a href="" class="my-button">ollooolol</a>
</div>

</div>

</section>
<section id="third">
<div class="container">
<div class="row">
<div class="col-3">
  <img src="https://sites.google.com/a/netcmmi.com/share/_/rsrc/1473734124982/img/png/s/star-e01.png" alt="">
</div>
<div class="col-9 d-flex flex-column justify-content-center">
  <h4>frgregrrggreerg</h4>
  <h1>frwffew</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <a href="" class="my-button">vfffvf</a>
</div>
</div>
</div>
</section>

<section class="fourth">
  <div class="container">
<div class="row">
<div style="padding:30px;" class="col-12 text-center">
  <h4>deededed</h4>
  <h2>frfrfrfr</h2>
  </div>
</div>
<div class="row">
<div class="col-md-4 text-center d-flex flex-column align-items-center justify-content-center">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <img src="https://sites.google.com/a/netcmmi.com/share/_/rsrc/1473734124982/img/png/s/star-e01.png" alt="">
  <p>gtrgtgt</p>
</div>
<div style="border:1px solid red;height:500px; padding:60px;" class="text-center col-md-4 d-flex flex-column align-items-center justify-content-center">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
</div>
</section>

<section>
  <div style="width:100%;background-color:red;" class="text-center boh">
<h4>gtggrgtggtgr</h4>
<h1>tggtggt</h1>
  </div>
  <div class="posts d-flex justify-content-around">
    <div style="padding:30px;" class="d-flex flex-column align-items-center justify-content-around">
  <img src="https://sites.google.com/a/netcmmi.com/share/_/rsrc/1473734124982/img/png/s/star-e01.png" alt="">
  <h3>lorem</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quae hic excepturi suscipit est a aliquam tempore sunt doloremque illo placeat cumque at, maiores fugiat doloribus numquam accusamus optio. Dolorum!</p>
    </div>
    <div class="d-flex flex-column">
  <img src="https://sites.google.com/a/netcmmi.com/share/_/rsrc/1473734124982/img/png/s/star-e01.png" alt="">
  <h3>lorem</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quae hic excepturi suscipit est a aliquam tempore sunt doloremque illo placeat cumque at, maiores fugiat doloribus numquam accusamus optio. Dolorum!</p>
    </div>
    <div class="d-flex flex-column">
  <img src="https://sites.google.com/a/netcmmi.com/share/_/rsrc/1473734124982/img/png/s/star-e01.png" alt="">
  <h3>Aòpòòpppò</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quae hic excepturi suscipit est a aliquam tempore sunt doloremque illo placeat cumque at, maiores fugiat doloribus numquam accusamus optio. Dolorum!</p>
    </div>
  </div>
</section>

</main>
<footer>
<div class="container">
<div class="row top">
<div class="col-4">
  <img src="https://sites.google.com/a/netcmmi.com/share/_/rsrc/1473734124982/img/png/s/star-e01.png" alt="">
    <a href="" class="button">rffrfrfrffrfr</a>
</div>
<div class="col-4 d-flex flex-column align-items-center text-center">
  <img src="https://sites.google.com/a/netcmmi.com/share/_/rsrc/1473734124982/img/png/s/star-e01.png" alt="">
<ul>
  <li>gtgtgg</li>
    <li>123 Needededt</li>
  <li>eddedede</li>
  <li>155eddee12</li>
</ul>
<p>follow us</p>
<ul class="icons">
<li @mouseenter="showName(ind)" @mouseleave="hideName" :class="'fab fa-' + icon.name + icon.code" v-for="(icon,ind) in footer_social_media">
<div v-if="indexSocial === ind" class="dropdown">
{{footer_social_media[ind].name}}
</div>
</li>
</ul>
</div>
<div class="col-4">
  <img src="https://sites.google.com/a/netcmmi.com/share/_/rsrc/1473734124982/img/png/s/star-e01.png" alt="">
  <a href="" class="button">aaaaaa</a>
</div>
</div>
<div class="row bottom d-flex justify-content-center">
<div class="col-8">
<ul class="text-center">
  <li>Copyright</li>
    <li>fddffd</li>
      <li>all right reserved</li>
        <li>edededed</li>
</ul>
</div>
</div>
</div>
</footer>
<div id="slider_horizontal" class="container" style="overflow-x:auto;">
<div class="row" style="width:max-content;">
<div v-for="(img,ind) in imgs" class="prova" style="display:inline-block;width:600px;border:1px solid red;">
  <img src="https://sites.google.com/a/netcmmi.com/share/_/rsrc/1473734124982/img/png/s/star-e01.png" alt="">
    </div>
    </div>
</div>

<div class="navigation_dots d-flex justify-content-center">
  <div v-for="(point,index) in 5" style="display:inline-block;">
    <a @click="slideHorizontal(index, 'slider_horizontal')"><i :class="index === positionDotHorizontal ? 'dot_active': ''" class="fas fa-circle"></i></a>
  </div>
</div>

  </div>
    <script type="text/javascript" src="action.js"></script>
  </body>
</html>
